header {
  background: linear-gradient(
    90deg,
    rgba(184, 252, 243, 1) 0%,
    rgba(223, 143, 247, 1) 35%,
    rgba(241, 208, 187, 1) 100%
  );
  height: 100px;
  display: flex;
}

h2 {
  flex: 1;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card {
  background-color: white;
  height: 120px;
  width: 150px;
  box-shadow: 1px 1px 10px 1px #c2bfbf;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 40px;

  .footer {
    text-align: center;
    width: 100%;
    flex: 1;
    color: #8f8f8f;
  }
  .body {
    flex: 3;
    height: 100%;

    .circle {
      background: linear-gradient(
        90deg,
        rgba(184, 252, 243, 1) 0%,
        rgba(170, 143, 247, 1) 50%,
        rgba(241, 208, 187, 1) 100%
      );
      border-radius: 50%;
      display: block;
      height: 90px;
      width: 90px;
      margin: auto;
      margin-top: -70px;
    }
    .genreM {
      height: 20px;
      background-image: url('https://www.freeiconspng.com/thumbs/male-icon/male-symbols-icon-7.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }
    .genreF {
      height: 20px;
      background-image: url('https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/512/Female-icon.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }
  }
}
.homonyme {
  box-shadow: 1px 1px 10px 1px rgb(175, 24, 24);
}
